[Module]
# This option is not required to be updated. It will be taken as an argument while running the script.
# and it will be reflected in the name of the NSD created. Refer to steps provided.
# Ex: `venv.sh rdns` for creating single nsd for all vnfds.
# Ex: `venv.sh rdns_node1`for creating one vnfd under one nsd
Module_name = rdns

[Options]
# 2 = Create and Upload NSDs and VNFDs to OSM. Make sure to update Openstack, OSM, Vnfd_specifications sections.
# 3 = Only Create NSDs and VNFDs. Make sure to update Openstack and Vnfd_specifications sections.
option = 3

[Openstack]

# The path of the tosca template files for the nodes should be given here
Tosca_template_path = /home/deploy/test/Assessment/tosca_templates/RDNS
# The tosca template file names for each node should be updated in the RHS side.
# Please do not change the keys(LHS side) it would affect the code. Only modify the RHS values.
Template_files = {
	"rdns_node1" : "template_node1.yaml",
	"rdns_node2" : "template_node2.yaml"
	}

# NSD_Segregation = {"nsd" : ["enum_node1", "enum_node2"]}
NSD_Segregation = {"nsd1" : ["rdns_node1" , "rdns_node2"]}

#For newer versions set this as True
Template_format_Sol006 = True

[OSM]
# The details of the OSM to which the packages needs to be uploaded should be mentioned.
# IP of the OSM should be given along with the NBI Port. By default port=9999.
# Used in case of option 1 (E2E) and option 2 (Upload Packages)
OSM_IP = 10.45.28.29:31500
OSM_Username = admin
OSM_Password = admin
OSM_Project = admin

[Vnfd_specifications]
# Specify what should be included in the vnfd descriptor
# The following could be set to False if the support is not required
notification_support = True
heal_support = True
monitoring_support = True

# Allowed parameters for heal = respawn, start. This is used if heal_support=True
heal = respawn
# Can be changed/updated if notification IP is changed. This is used if notification_support=True.
# Please change the entire IP as per req. Do not add quotes for the IP and check whether http/https should be given
CNOPS_IP = http://10.131.213.170:6001/v3_0/api/dataingestion/main_fm_teosm

[cloud_init]
AllowedAddressPair = True
Hostname = True

[Config_files]
# If files are present in other directories, pass all configuration files including the path
# These need not be changed as long as they are available in this directory
Config_file = nodes.cfg
Vnfd_template = template_rdns_vnfd.yaml
Nsd_template = template_rdns_nsd.yaml
Json_config = rdns.json
Flavor_config = flavor.cfg
old_Vnfd_template = old_template_rdns_vnfd.yaml
old_Nsd_template = old_template_rdns_nsd.yaml
