
_FLAVOR_NAME=RDNSFlavor
_IMAGE_NAME=RDNS_Image
_NETWORK_NAME=provider
_MONITORING_POLICY_COUNT=15

SET_NTP_SERVER_IP_ADDRESS=<IP Address of NTP Server>
SET_MIN_FREQUENCY=<Minimum Frequency of Time Sync>
SET_MAX_FREQUENCY=<After time sync the next Time Sync can be issued>

####CONTROLLER_CONFIGURATION_DETAILS#####
_SYSTEM_CONTROLLER_IP=10.254.0.163
_SYSTEM_CONTROLLER_USER=deploy
_SYSTEM_CONTROLLER_PASSWORD=deploy
_SYSTEM_CONTROLLER_ENV_FILE=\/home\/in\/in-openrc

####RELEASE_CONFIGURATION_DETAILS#####
_RELEASE_FILE_PATH=\/home\/cdot\/RDNS
_RELEASE_NUM=6.0.0
_VOLUME_SIZE=30
_NODE_ALLOWED_ADDRESS_LIST=NA

####CONFIGURATION_DETAILS#####
_NODE_NAME=RDNS
_APP_INSTALL_MODE=2
_ZONE_NODE_1=in_az
_ZONE_NODE_2=in_az
_ZONE_VOL_NODE_1=nova
_ZONE_VOL_NODE_2=nova
_NODE_1_IP=172.25.1.221
_NODE_2_IP=172.25.1.222
_APP_FLOATING_IP=172.25.1.223
_SUBNET=172.25.1.0\/24
_FLOATING_IP_NETMASK=24

_NODE_1_V6IP=2407:9A00:1:14D::221
_NODE_2_V6IP=2407:9A00:1:14D::222
_APP_FLOATING_V6IP=2407:9A00:1:14D::223
_FLOATING_V6IP_NETMASK=64

_REL_USER_NAME=dns
_ROOT_PASSWORD=cdot123
_REL_USER_PASSWD=dns123

####AGENT_CONFIGURATION_DETAILS#####
_REGION_NAME=DELHI
_EMS_NODE_IP=172.25.1.169
