######################
NODE_DETAILS_START
######################
CFW_NAME_NODE1        epdgdp
CFW_NODE1_PHYSICAL_IPV4 172.23.138.20
##################
CONTROLLER_DETAILS
##################
CONTROLLER_USER bsnladmin
CONTROLLER_IP 172.24.50.13
CONTROLLER_PASSWORD bsnl@123
CFW_NFV_CONTROLLER_DIR EPDGDP
CFW_NFV_BASE_SUB_PATH /home/cdot/CFW
SOURCE_FILE admin-openrc
####################
NFV_DETAILS
##################
CFW_FLAVOR_NAME DPI_1.2.0
CFW_IMAGE_NAME EPDGDP-1.4.0
CFW_ZONE minidc-computedp3
CFW_NFV_VM_SUB_PATH /root
NETWORK_NAME DP172_138
NETWORK_CONTROL_NAME DP172_133
CFW_VOLUME_SIZE 50
CFW_VOLUME_ZONE computedp3
##################
COMPUTE_DETAILS
##################
CFW_NFV_COMPUTE_SUB_PATH /home/cdot
CFW_NFV_COMPUTE_DIR EPDGDP
COMPUTE_USER cdot
COMPUTE_IP 172.23.128.31
COMPUTE_PASSWORD Cdot@1234
##################
INTERFACE_DETAILS
##################
##################
TOTAL_VF 2
##################
PF1VF 1
PF1VF 2
##################
PINNING_DETAILS
##################
CPUPIN 0 2
CPUPIN 1 4
CPUPIN 2 6
CPUPIN 3 8
CPUPIN 4 10
CPUPIN 5 12
CPUPIN 6 14
CPUPIN 7 16
CPUPIN 8 18
CPUPIN 9 20
#####################
MEMORY_TUNING_DETAILS
#####################
NUMATUNE strict 0
#################
SNMP_DETAILS
##################
CFW_NFV_VM_NODE_TYPE EPDGDP
CFW_NFV_VM_DEVICE_NAME EPDGDP1
CFW_NFV_VM_REGION_NAME NZ::DL
CFW_NFV_VM_MY_IPV6 0::0
CFW_NFV_VM_PEER_IPV6 0::0
CFW_NFV_VM_GEOSITE_TYPE PR
CFW_NFV_VM_PEER_HOST_NAME NONE
CFW_NFV_VM_SELF_HOST_NAME NONE
CFW_NFV_VM_PR1_IPV4 0.0.0.0
CFW_NFV_VM_PR2_IPV4 0.0.0.0
CFW_NFV_VM_GR1_IPV4 0.0.0.0
CFW_NFV_VM_GR2_IPV4 0.0.0.0
######################
SECURITY_GROUP_DETAILS
#####################
CFW_SECURITY_GROUP epdgdp_SecGrp
######################
NODE_DETAILS_END
######################


##***NODE CONFIG STARTS HERE***##
#node-name from : {firewall, dpi, cgnat, secgw, cips, imsdp, hhe, epdgdp}

[CFG_VERSION]
version = 1.4.0

[default]
node-name = epdgdp
mgmt-ipv4 = 172.23.138.20
mgmt-gw-ipv4 = 172.23.138.1
mgmt-ipv6 = 10::10
mgmt-gw-ipv6 = 10::1
#management-int-name is fixed, DO NOT CHANGE
management-int-name = ens3
# CUPS interface IP on ePDG-DP
# Add prefix length to ip address
ctrl-ipv4 = 172.23.133.9/24
ctrl-gw-ipv4 = 172.23.133.1
ctrl-interface-name = ens4

#For configuring the SWu interface
[fast_path_if_1]
if_name = dp0s20
vlan_id = 80
# Add prefix length to ip address
if-ipv4 = 172.24.11.10/24
if-ipv6 = 11::10/64

#For configuring the S2b/gtp-u interface
[fast_path_if_2]
if_name = dp0s21
vlan_id = 81
# Add prefix length to ip address
if-ipv4 = 172.24.12.10/24
if-ipv6 = 12::10/64

[static_route_ipv4_1]
#For configuring the ipv4 static default route (towards AP/UE) for Swu interface
# Add prefix length to route
route-ipv4 = 0.0.0.0/0
next-hop-ipv4 = 172.24.11.1

[static_route_ipv4_2]
#For configuring the ipv4 static route to PGW-DP for S2b interface
# Add prefix length to route
route-ipv4 = 172.24.23.0/24
next-hop-ipv4 = 172.24.12.1

#For configuring the ssh port
[ssh]
port = 222
local-usr-ssh-port = 22

[snmp]
listen-address-ipv4 = 172.23.138.20
trap-target-ipv4 = 1.1.1.1
#For configuring the access-site interface
#uncomment this block when running in local setup
#node-type = EPDGDP
#device-name = EPDGDP1
#region-name = NZ::DL
#my-ipv4 = 192.168.122.79
#peer-ipv4 = 0.0.0.0
#vip-ipv4 = 0.0.0.0
#my-ipv6 = 2001:db8::123.123.123.123
#peer-ipv6 = 2001:db8::1234:5678:5.6.7.8
#geosite-type = PR
#peer-host-name = None
#self-host-name = None
#pr1-ipv4 = 0.0.0.0
#pr2-ipv4 = 0.0.0.0
#gr1-ipv4 = 0.0.0.0
#gr2-ipv4 = 0.0.0.0

#For configuring the tacacs server details
[tacacs_1]
tacacs-server-ipv4 = 192.168.173.62
port = 49
password = testing123

#For configuring the sts server details
[sts]
control-address-ipv4 = 192.168.176.53
control-port = 8020
data-address-ipv4 = 192.168.176.53
data-port = 8020
self-ipv4 = 192.168.237.52
access-interface = dp0s20
pdn-interface = dp0s21

#For configuring the syslog
[syslog_1]
host-ipv4 = 192.168.111.79
port = 514

#For configuring the backup restoration
[backup_restoration]
route-ipv4 = 1.1.1.1/32
next-hop-ipv4 = 2.2.2.2

#For configuring the ntp server details
[ntp_1]
ntp-server-ipv4 = 192.168.111.79
# min-max poll range (3-11)
min-poll = 3
max-poll = 5

#For configuring the os hardening details
[os_hardening]
login-attempts = 3
login-duration = 60
login-session-timeout = 600
password-length = 8
password-min-class = 3
max-sessions = 50

##***EPDGDP SPECIFIC CONFIG STARTS HERE***##

[epdg_ipsec_profile]
#auth-id = ims
tunnel-local-prefix-ipv4 = 0.0.0.0/0
tunnel-remote-prefix-ipv4 = 0.0.0.0/0
#tunnel-local-prefix-ipv6 = 0::0
#tunnel-remote-prefix-ipv6 = 0::0

[epdg_config]
epdgcp-ipv4 = 17.24.21.10
epdgcp-node1-ipv4 = 12.24.21.8
epdgcp-node2-ipv4 = 12.24.21.9
maximum-subscriber = 20000
# Add prefix length to subnets
pcscf-subnet = 12.24.22.0/24
imsdp-subnet = 12.24.23.0/24
#gtp-port = 5010
#ike-port = 4000
