# Ignore log files, logs directory, caches, and large binary packages
*.log
logs/
*.pyc
*.pyo
__pycache__/
.pytest_cache/

# Ignore launch_stuffs binary packages
launch_stuffs/*.tar.gz
launch_stuffs/*.qcow2
launch_stuffs/*.zip
launch_stuffs/*.iso
launch_stuffs/*.img
