#Node-wide Flavors#

#########################
MME_FLAVOR_DETAILS
#########################
MME_VCPUCOUNT 6
MME_MEMORYGB  10
MME_STORAGEGB 30

#########################
SGW_FLAVOR_DETAILS (For cp nodes and normal dp nodes)
#########################
SGW_VCPUCOUNT 4
SGW_MEMORYGB  8
SGW_STORAGEGB 40

#########################
PGW_FLAVOR_DETAILS (For cp nodes and normal dp nodes)
#########################
PGW_VCPUCOUNT 16
PGW_MEMORYGB  96
PGW_STORAGEGB 100

#########################
PCRF_FLAVOR_DETAILS
#########################
PCRF_VCPUCOUNT 10
PCRF_MEMORYGB  31
PCRF_STORAGEGB 40

#########################
TCE_FLAVOR_DETAILS
#########################
TCE_VCPUCOUNT 8
TCE_MEMORYGB  16
TCE_STORAGEGB 50

#########################
SGW_FP_FLAVOR_DETAILS (For fp_dp nodes)
#########################
SGW_FP_VCPUCOUNT 8
SGW_FP_MEMORYGB  64
SGW_FP_STORAGEGB 100

#########################
PGW_FP_FLAVOR_DETAILS (For fp_dp nodes)
#########################
PGW_FP_VCPUCOUNT 2
PGW_FP_MEMORYGB  16
PGW_FP_STORAGEGB 10

